# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear
DuAn1_Nhom3/src/view/EventMenuSelected.java
DuAn1_Nhom3/src/view/icon/1.png
DuAn1_Nhom3/src/view/icon/10.png
DuAn1_Nhom3/src/view/icon/2.png
DuAn1_Nhom3/src/view/icon/3.png
DuAn1_Nhom3/src/view/icon/4.png
DuAn1_Nhom3/src/view/icon/5.png
DuAn1_Nhom3/src/view/icon/6.png
DuAn1_Nhom3/src/view/icon/7.png
DuAn1_Nhom3/src/view/icon/8.png
DuAn1_Nhom3/src/view/icon/9.png
DuAn1_Nhom3/src/view/icon/banhang.png
DuAn1_Nhom3/src/view/icon/hoadon.png
DuAn1_Nhom3/src/view/icon/khachhang.png
DuAn1_Nhom3/src/view/icon/nhanvien.png
DuAn1_Nhom3/src/view/icon/phieugiamgia.png
DuAn1_Nhom3/src/view/icon/sanpham.png
DuAn1_Nhom3/src/view/icon/thoat.png
DuAn1_Nhom3/src/view/icon/thongke.png
DuAn1_Nhom3/src/view/ListMenu.java
DuAn1_Nhom3/src/view/Main.form
DuAn1_Nhom3/src/view/Main.java
DuAn1_Nhom3/src/view/Menu.form
DuAn1_Nhom3/src/view/Menu.java
DuAn1_Nhom3/src/view/MenuItem.form
DuAn1_Nhom3/src/view/MenuItem.java
DuAn1_Nhom3/src/view/Model_Menu.java
DuAn1_Nhom3/src/view/panel/HoaDonPanel.form
DuAn1_Nhom3/src/view/panel/HoaDonPanel.java
DuAn1_Nhom3/src/view/panel/KhachHangPanel.form
DuAn1_Nhom3/src/view/panel/KhachHangPanel.java
DuAn1_Nhom3/src/view/panel/PhieuGiamGiaPanel.form
DuAn1_Nhom3/src/view/panel/PhieuGiamGiaPanel.java
DuAn1_Nhom3/src/view/panel/SanPhamPanel.form
DuAn1_Nhom3/src/view/panel/SanPhamPanel.java
DuAn1_Nhom3/src/view/panel/ThongKePanel.form
DuAn1_Nhom3/src/view/panel/ThongKePanel.java
DuAn1_Nhom3/src/view/PanelBorder.form
DuAn1_Nhom3/src/view/PanelBorder.java
